select,
option,
textarea::placeholder,
input[type="text"]::placeholder,
input[type="textarea"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--clr-midgrey);
}

.create-recipe_form-btn {
    height: 4rem;
    width: 12.4rem;
    margin: 3rem 0 0 1rem;
    display: grid;
    place-content: center;
    grid-row: 4/5;
    grid-column: 2/3;
}